 .contenedor-juegos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    background-color: #222;
    color: white; 
    margin-top: 2%;
    margin-left:2%;
    margin-right: 2%;
}

.juego {
    background-color: black;
    border: 4px solid;
    border-radius: 20px;
    border-image: radial-gradient(circle, black, orange) 1;
    overflow: hidden;
    color: white;
    transition: transform 0.2s ease;
}



.enlace-juego {
    text-decoration: none; 
    color: inherit; 
}

.juego:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-22px);
}

.juego img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.contenido {
    padding: 10px;
}

.contenido h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: white; 
}

.contenido p {
    margin: 5px 0;
}

.listado-titulo {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 9em;
}

.generos {
    text-decoration: none;
    color: white;
}

.paginacion {
    margin-top: 20px;
}

.paginacion button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.paginacion button:hover {
    background-color: #0056b3;
}

.enlace-listado {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 9em;
}

.menu-izquierdo {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-izquierdo li {
    display: inline;
    margin-right: 10px;
}

.menu-derecho {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-derecho li {
    display: inline;
    margin-left: 10px;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
}

.navbar button:hover {
    text-decoration: underline;
}

/* Estilos para la listados */
.contenedor-titulo {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-listados {
    max-width: 70%; 
    margin: 0 auto;
    background-color: white;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.listado {
    width: calc(25% - 50px); 
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: black
}

.listado a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.listado:hover {
    background-color: #ccc;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.buscador {
    margin-bottom: 5%;
}

#buscar-juego {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#toggleGenero {
    margin-bottom: 20px;
}

.filtros {
    text-align: center;
}

.generos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filtros label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filtros {
    margin-bottom: 20px;
}
.generos-container {
    display: flex;
    align-items: center;
}
.generos-container span {
    flex: 1;
}

.filtros-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap : 5%;
}
.filtros-container span {
    flex: 1;
}
input[type="range"] {
    width: 100%;
}
p {
    margin-top: 10px;
}

#filtroGenero, #filtroPrecio {
    display: none;
    margin-bottom: 5%;
}

.juegoSolo {
    display: flex;
    background-color: #333;
    color: white;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.infoPrincipal {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPrincipal h2 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.infoPrincipal img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.infoSecundaria, .infoFinal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoSecundaria p, .infoFinal p {
    margin: 0;
}

.infoSecundaria p {
    font-size: 1.2em;
    margin-bottom: 2%;
}

.infoFinal p {
    font-size: 1.1em;
    text-align: left;
}

.instrucciones{
    margin-bottom: 2%;
}