 .contenedor-juegos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    background-color: #222;
    color: white; 
}

.juego {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    color: white;
    transition: transform 0.2s ease;
}

.enlace-juego {
    text-decoration: none; 
    color: inherit; 
}

.juego:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.juego img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.contenido {
    padding: 10px;
}

.contenido h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: white; 
}

.contenido p {
    margin: 5px 0;
}

.genero-titulo {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 9em;
}

.generos {
    text-decoration: none;
    color: white;
}

.paginacion {
    margin-top: 20px;
}

.paginacion button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.paginacion button:hover {
    background-color: #0056b3;
}

.enlace-genero {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 9em;
}

.menu-izquierdo {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-izquierdo li {
    display: inline;
    margin-right: 10px;
}

.menu-derecho {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-derecho li {
    display: inline;
    margin-left: 10px;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
}

.navbar button:hover {
    text-decoration: underline;
}

/* Estilos para la lista de géneros */
.contenedor-titulo {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-generos {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    background-color: white;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.genero {
    width: calc(25% - 20px); /* Ajusta el ancho según tus necesidades */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

.genero a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.genero:hover {
    background-color: #ccc;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.buscador {
    margin-bottom: 20px;
}

#buscar-juego {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#toggleGenero {
    margin-bottom: 20px;
}

.filtros {
    text-align: center;
}

.generos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filtros label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

