*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #121212 !important;
    color: #f0f0f0;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.login-card {
    background-color: #1e1e1e;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}
.form-control:focus {
    box-shadow: none;
    border-color: #ff8800;
}
.btn-warning {
    background-color: #ff8800;
    border-color: #ff8800;
}
.btn-warning:hover {
    background-color: #e67e00;
    border-color: #e67e00;
}
.card-title {
    font-family: 'Lato', sans-serif;
}
.input-group-text {
    background-color: #ff8800;
    border: none;
}
.input-group-text i {
    color: #fff;
}
.navbar-nav .nav-item .nav-link {
    color: #f0f0f0;
    font-size: 1.5em;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #ff8800;
}
.dropdown-menu {
    background-color: #1e1e1e;
}
.dropdown-item {
    color: #f0f0f0;
}
.dropdown-item:hover {
    color: #ff8800;
    background-color: transparent;
}
.navbar{
    background-color: #1e1e1e;
}
.card-header{
    background-color: #1e1e1e;
}
.perfil {
    padding: 30px;
    border-radius: 10px;
}
.perfil-contenido {
    display: flex;
    flex-wrap: wrap;
}
.perfil-usuario, .perfil-tarjeta {
    margin-bottom: 20px;
}
.perfil-usuario-container, .perfil-tarjeta-vinculada {
    word-wrap: break-word;
    padding: 20px;
    background-color: #3c3c3c;
    border-radius: 10px;
}
.perfil-usuario h2, .perfil-tarjeta h2 {
    font-size: 1.2rem;
}
.login-card-img {
    width: 100%;
    height: 100%;
    max-height: 100vw;
    object-fit: cover;
}
.brand-wrapper {
    display: flex;
    justify-content: center;
}
.logo {
    height: 150px;
    width: auto;
}
.calendar {
    width: 100%;
    border-collapse: collapse;
    background-color: #343a40; /* Fondo oscuro */
    color: white; /* Texto blanco */
}

.calendar-row {
    border: 1px solid #ddd;
}

.calendar-day {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
    text-align: center; /* Centrar contenido */
    width: 14.28%; /* Todas las celdas tienen el mismo tamaño */
}

.calendar-day-head {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #1e1e1e;
    text-align: center;
    font-weight: bold;
}

.day-number {
    font-weight: bold;
}

.not-work {
    background-color: #f8d7da; /* Color de fondo para fines de semana */
}

.novedad {
    background-color: #ffc107; /* Color de fondo para días con novedades */
}
